# Assignment 01: Data Manipulation
## Amal
## Jani
## Mateusz Czarnecki
## 1.

In [1]:
import pandas as pd
data = pd.Series([5,2,7])
print(data)

0    5
1    2
2    7
dtype: int64

## 2.

In [2]:
data_dict = {
    "Weight": [92, 70, 58, 99, 55, 76, 62, 92, 71, 70, 77, 79],
    "Exercise": [6, 6, 6, 2, 8, 4, 6, 6, 5, 6, 4,4 ],
    "Cholesterol": [4.8, 5.1, 6.4, 6.5, 2.3, 5.7, 4.2, 6.9, 4.8, 4.8, 7.7, 5.7],
    "Income": [2060, 2660, 2530, 1740, 3520, 3750, 2720, 3130, 2100, 3340, 2430, 2700],
    "Happiness": [49, 36, 49, 28, 77, 55, 43, 39, 54, 29, 53, 47],
    "Birthyear": [1953, 1955, 1939, 1942, 1989, 1937, 1979, 1905, 1995, 1966, 1938, 1993]
}

In [3]:
data_frame = pd.DataFrame(data_dict)

In [4]:
data_frame

    Weight  Exercise  Cholesterol  Income  Happiness  Birthyear
0       92         6          4.8    2060         49       1953
1       70         6          5.1    2660         36       1955
2       58         6          6.4    2530         49       1939
3       99         2          6.5    1740         28       1942
4       55         8          2.3    3520         77       1989
5       76         4          5.7    3750         55       1937
6       62         6          4.2    2720         43       1979
7       92         6          6.9    3130         39       1905
8       71         5          4.8    2100         54       1995
9       70         6          4.8    3340         29       1966
10      77         4          7.7    2430         53       1938
11      79         4          5.7    2700         47       1993

### a) Basic statistics

In [5]:
statistics = data_frame.describe()
statistics

          Weight   Exercise  Cholesterol       Income  Happiness    Birthyear
count  12.000000  12.000000    12.000000    12.000000  12.000000    12.000000
mean   75.083333   5.250000     5.408333  2723.333333  46.583333  1957.583333
std    13.813421   1.544786     1.419000   614.807188  13.283334    27.566311
min    55.000000   2.000000     2.300000  1740.000000  28.000000  1905.000000
25%    68.000000   4.000000     4.800000  2347.500000  38.250000  1938.750000
50%    73.500000   6.000000     5.400000  2680.000000  48.000000  1954.000000
75%    82.250000   6.000000     6.425000  3182.500000  53.250000  1981.500000
max    99.000000   8.000000     7.700000  3750.000000  77.000000  1995.000000

### b) Average Income

In [6]:
average_income = statistics.loc['mean']['Income']

for index, row in data_frame.iterrows():
    if row["Income"] < average_income:
        print(f'Person {index}: below average income.')
    elif row["Income"] > average_income:
        print(f'Person {index}: above average income.')
    else:
        print(f'Person {index}: equal to the average income.')

Person 0: below average income.
Person 1: below average income.
Person 2: below average income.
Person 3: below average income.
Person 4: above average income.
Person 5: above average income.
Person 6: below average income.
Person 7: above average income.
Person 8: below average income.
Person 9: above average income.
Person 10: below average income.
Person 11: below average income.

## 3

In [10]:
data_frame = pd.read_csv("kd.csv")
data_frame

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wbcc,rbcc,htn,dm,cad,appet,pe,ane,class
0,48,80,1.020,1,0,?,normal,notpresent,notpresent,121,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,7,50,1.020,4,0,?,normal,notpresent,notpresent,?,...,38,6000,?,no,no,no,good,no,no,ckd
2,62,80,1.010,2,3,normal,normal,notpresent,notpresent,423,...,31,7500,?,no,yes,no,poor,no,yes,ckd
3,48,70,1.005,4,0,normal,abnormal,present,notpresent,117,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,51,80,1.010,2,0,normal,normal,notpresent,notpresent,106,...,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55,80,1.020,0,0,normal,normal,notpresent,notpresent,140,...,47,6700,4.9,no,no,no,good,no,no,notckd
396,42,70,1.025,0,0,normal,normal,notpresent,notpresent,75,...,54,7800,6.2,no,no,no,good,no,no,notckd
397,12,80,1.020,0,0,normal,normal,notpresent,notpresent,100,...,49,6600,5.4,no,no,no,good,no,no,notckd
398,17,60,1.025,0,0,normal,normal,notpresent,notpresent,114,...,51,7200,5.9,no,no,no,good,no,no,notckd
399,58,80,1.025,0,0,normal,normal,notpresent,notpresent,131,...,53,6800,6.1,no,no,no,good,no,no,notckd